<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>24297285673-dahp4ukji1r2ba10s2qvcs6oc84qfics.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.24297285673-dahp4ukji1r2ba10s2qvcs6oc84qfics</string>
	<key>API_KEY</key>
	<string>AIzaSyD5DMnj8vmpgWcT8iYAYw7mW8BtxyG6164</string>
	<key>GCM_SENDER_ID</key>
	<string>24297285673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hyeoktae.com.chacha</string>
	<key>PROJECT_ID</key>
	<string>chacha-6ab36</string>
	<key>STORAGE_BUCKET</key>
	<string>chacha-6ab36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:24297285673:ios:bc0144176ca5a2d4cf5438</string>
	<key>DATABASE_URL</key>
	<string>https://chacha-6ab36.firebaseio.com</string>
</dict>
</plist>